/Makefile
/Makefile.old
/MYMETA.json
/MYMETA.yml
/XSLoop.c
/XSLoop.o
/XSLoop.bs
/pm_to_blib
/blib/
/Linux-Event-*.tar.gz
/xsloop/Makefile
/xsloop/Makefile.old
/xsloop/MYMETA.json
/xsloop/MYMETA.yml
/xsloop/XSLoop.bs
/xsloop/XSLoop.c
/xsloop/XSLoop.o
/xsloop/pm_to_blib
/xsstream/Makefile
/xsstream/Makefile.old
/xsstream/MYMETA.json
/xsstream/MYMETA.yml
/xsstream/Stream.bs
/xsstream/XSStream.c
/xsstream/XSStream.o
/xsstream/pm_to_blib
*.bak
*~
bench/results/*.json
bench/results/*.html
!bench/results/.gitkeep
