/Makefile
/Makefile.old
/MYMETA.json
/MYMETA.yml
/XSLoop.c
/XSLoop.o
/XSLoop.bs
/pm_to_blib
/blib/
/Linux-Event-*.tar.gz
/xsloop/Makefile
/xsloop/Makefile.old
/xsloop/MYMETA.json
/xsloop/MYMETA.yml
/xsloop/XSLoop.bs
/xsloop/XSLoop.c
/xsloop/XSLoop.o
/xsloop/Loop.bs
/xsloop/Loop.c
/xsloop/Loop.o
/xsloop/pm_to_blib
/xsstream/Makefile
/xsstream/Makefile.old
/xsstream/MYMETA.json
/xsstream/MYMETA.yml
/xsstream/Stream.bs
/xsstream/XSStream.c
/xsstream/XSStream.o
/xsstream/Stream.c
/xsstream/Stream.o
/xsstream/*.o
/xsstream/pm_to_blib
/xstls/Makefile
/xstls/Makefile.old
/xstls/MYMETA.json
/xstls/MYMETA.yml
/xstls/TLS.bs
/xstls/TLS.c
/xstls/TLS.o
/xstls/check_openssl
/xstls/check_openssl.o
/xstls/pm_to_blib
/xsconnection/Makefile
/xsconnection/Makefile.old
/xsconnection/MYMETA.json
/xsconnection/MYMETA.yml
/xsconnection/Connection.c
/xsconnection/Connection.o
/xsconnection/_Connection.bs
/xsconnection/pm_to_blib
/xsresolver/Makefile
/xsresolver/Makefile.old
/xsresolver/MYMETA.json
/xsresolver/MYMETA.yml
/xsresolver/Resolver.c
/xsresolver/Resolver.o
/xsresolver/_Resolver.bs
/xsresolver/pm_to_blib
/xssignal/Makefile
/xssignal/Makefile.old
/xssignal/MYMETA.json
/xssignal/MYMETA.yml
/xssignal/Signal.bs
/xssignal/Signal.c
/xssignal/Signal.o
/xssignal/pm_to_blib
/xslistener/Makefile
/xslistener/Makefile.old
/xslistener/MYMETA.json
/xslistener/MYMETA.yml
/xslistener/Listener.c
/xslistener/Listener.o
/xslistener/Listener.bs
/xslistener/pm_to_blib
/xswakeup/Makefile
/xswakeup/Makefile.old
/xswakeup/MYMETA.json
/xswakeup/MYMETA.yml
/xswakeup/Wakeup.bs
/xswakeup/Wakeup.c
/xswakeup/Wakeup.o
/xswakeup/pm_to_blib
/xsdatagram/Makefile
/xsdatagram/Makefile.old
/xsdatagram/MYMETA.json
/xsdatagram/MYMETA.yml
/xsdatagram/Datagram.bs
/xsdatagram/Datagram.c
/xsdatagram/Datagram.o
/xsdatagram/pm_to_blib
/xsprocess/Makefile
/xsprocess/Makefile.old
/xsprocess/MYMETA.json
/xsprocess/MYMETA.yml
/xsprocess/Process.bs
/xsprocess/Process.c
/xsprocess/Process.o
/xsprocess/check_spawn_chdir
/xsprocess/check_spawn_chdir.o
/xsprocess/pm_to_blib
*.bak
*~
*.xsc
bench/results/*.json
bench/results/*.html
!bench/results/.gitkeep
